
[Unit]
Description=Manages Virtual IP for Patroni
Before=patroni.service

[Service]
Type=simple

EnvironmentFile=-/etc/patroni/vip.conf

ExecStart=/bin/bash -c "/usr/bin/vip-manager -ip=\"${VIP_IP}\" -iface=\"${VIP_IFACE}\" -key=\"${VIP_KEY}\" -etcd_user=\"${VIP_ETCD_USER}\" -etcd_password=\"${VIP_ETCD_PASSWORD}\" -host=\"${VIP_HOST}\" -type=\"${VIP_TYPE}\" -endpoint=\"${VIP_ENDPOINT}\" -mask=\"${VIP_MASK}\" -hostingtype=\"${VIP_HOSTINGTYPE}\""
Restart=on-failure

[Install]
WantedBy=multi-user.target
