Source: vip-manager
Section: misc
Priority: optional
Maintainer: Ants Aasma <ants@cybertec.at>
Build-Depends: debhelper (>=9), golang, golang-etcd
Standards-Version: 3.9.6
Homepage: http://ww.cybertec.at
Vcs-Git: git://github.com/cybertec-postgresql/vip-manager.git
Vcs-Browser: https://github.com/cybertec-postgresql/vip-manager
Package: vip-manager
Version: 0.0.1
Architecture: amd64
Description: Manages a virtual IP based on state kept in etcd

