name: Go Build & Test
on:
  pull_request:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    name: Build & Test
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      
    - name: Set up Golang
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'      

    - name: GolangCI-Lint
      if: runner.os == 'Linux'
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        args: --verbose

    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: etcd ncat
        version: 1.0

    - name: Test E2E
      if: runner.os == 'Linux'
      run: |
        go version
        go mod download
        go build
        sudo test/behaviour_test.sh
        sudo rm -r default.etcd

    - name: Run GoReleaser
      if: runner.os == 'Linux'
      uses: goreleaser/goreleaser-action@v5
      with:
        version: latest
        args: release --snapshot --skip=publish --clean
