name: Go Build & Test
on:
  pull_request:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    name: Build & Test
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      
    - name: Set up Golang
      uses: actions/setup-go@v5
      with:
        go-version: '1.20'      

    - name: GolangCI-Lint
      if: runner.os == 'Linux'
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        args: --verbose

    - name: Get dependencies
      run: |
        go mod download
        go version
        go build

    - name: Run GoReleaser
      if: runner.os == 'Linux'
      uses: goreleaser/goreleaser-action@v5
      with:
        version: latest
        args: release --snapshot --skip-publish --clean
